<ion-view>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Max walk km">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Have a car ?">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="take bus ?">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="take veloh ?">
          </label>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
